:root {
   --white: hsl(0, 0%, 100%);
   --black: hsl(0, 0%, 0%);
   --grey: hsl(0, 0%, 42%);
   --dark-yellow: hsl(43, 79%, 67%);
   --yellow: hsl(43, 83%, 70%);
   --green: hsl(118, 41%, 62%);
}
